.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tasks {
    width: 26%;
    padding: 15px;
    margin-bottom: 20px;
}

.tasks__list {
    list-style: none;
    padding-left: 0;
}

.tasks__title {
    width: fit-content;
    padding: 10px 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tasks__title--black {
    color: white;
    background-color: black;
}

.tasks__title--royalblue {
    color: white;
    background-color: royalblue;
}

.tasks__title--green {
    color: white;
    background-color: green;
}

.tasks__title--brown {
    color: white;
    background-color: brown;
}