.tasks__item {
    position: relative;
    padding: 20px 15px;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: white;
}

.tasks__item::before {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 5px;
    border-radius: 10px 0 0 10px;
    content: "";
}

.tasks__item--black::before {
    background-color: #e3e3e3;
}

.tasks__item--royalblue::before {
    background-color: #d6e7ff;
}

.tasks__item--green::before {
    background-color: #d7f9e0;
}

.tasks__item--brown::before {
    background-color: #fbe3e3;
}