.tasks__item {
    position: relative;
    padding: 20px 15px;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: white;
}

.tasks__item::before {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 5px;
    border-radius: 10px 0 0 10px;
    content: "";
}

.tasks__item--black::before {
    background-color: #e3e3e3;
}

.tasks__item--royalblue::before {
    background-color: #d6e7ff;
}

.tasks__item--green::before {
    background-color: #d7f9e0;
}

.tasks__item--brown::before {
    background-color: #fbe3e3;
}

.task__title {
    width: fit-content;
    padding: 10px 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.task__title--black {
    color: white;
    background-color: black;
}

.task__title--royalblue {
    color: white;
    background-color: royalblue;
}

.task__title--green {
    color: white;
    background-color: green;
}

.task__title--brown {
    color: white;
    background-color: brown;
}